In [228]:
!pip install seaborn
!pip install pandas
!pip install sklearn
!pip install numpy
!pip install matplotlib

Requirement already satisfied: seaborn in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from seaborn) (1.4.4)
Requirement already satisfied: scipy>=1.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from seaborn) (1.9.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from seaborn) (3.5.3)
Requirement already satisfied: numpy>=1.15 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from seaborn) (1.23.3)
Requirement already satisfied: packaging>=20.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (4.37.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas>=0.23->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pandas in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sklearn in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from sklearn) (1.1.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from scikit-learn->sklearn) (1.9.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from scikit-learn->sklearn) (1.23.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from scikit-learn->sklearn) (1.1.1)
Requirement already satisfied: numpy in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (1.23.3)
Requirement already satisfied: matplotlib in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (3.5.3)
Requirement already satisfied: packaging>=20.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (4.37.4)
Requirement already satisfied: six>=1.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [229]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (3.3.0)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (1.9.2)
Requirement already satisfied: missingno<0.6,>=0.4.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: seaborn<0.12,>=0.10.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: pandas!=1.4.0,<1.5,>1.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (1.4.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: matplotlib<3.6,>=3.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (3.5.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: multimethod<1.9,>=1.4 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (1.8)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (2.25.1)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (1.23.3)
Requirement already satisfied: pydantic<1.10,>=1.8.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (1.9.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (0.7.5)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (4.64.1)
Requirement already satisfied: joblib~=1.1.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas-profiling) (1.1.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.8.7)
Requirement already satisfied: imagehash in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (4.37.4)
Requirement already satisfied: cycler>=0.10 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pandas!=1.4.0,<1.5,>1.1->pandas-profiling) (2022.4)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from pydantic<1.10,>=1.8.1->pandas-profiling) (4.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.12)
Requirement already satisfied: patsy>=0.5.2 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.5)
Requirement already satisfied: six in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.4.1)

In [230]:
from pandas_profiling import ProfileReport

In [231]:
from sklearn.preprocessing import OrdinalEncoder

In [232]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [233]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier

In [234]:
df = pd.read_csv("../data/01_raw/train.csv")

In [235]:
df.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [236]:
df.describe().round()

          Age  RoomService  FoodCourt  ShoppingMall      Spa   VRDeck
count  8514.0       8512.0     8510.0        8485.0   8510.0   8505.0
mean     29.0        225.0      458.0         174.0    311.0    305.0
std      14.0        667.0     1611.0         605.0   1137.0   1146.0
min       0.0          0.0        0.0           0.0      0.0      0.0
25%      19.0          0.0        0.0           0.0      0.0      0.0
50%      27.0          0.0        0.0           0.0      0.0      0.0
75%      38.0         47.0       76.0          27.0     59.0     46.0
max      79.0      14327.0    29813.0       23492.0  22408.0  24133.0

In [237]:
list(df.describe(include='object').round())

['PassengerId',
 'HomePlanet',
 'CryoSleep',
 'Cabin',
 'Destination',
 'VIP',
 'Name']

In [238]:
profile = ProfileReport(df, title="Pandas Profiling Report")

In [239]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (3.5.3)
Requirement already satisfied: numpy>=1.17 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (1.23.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (4.37.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: six>=1.5 in c:\users\camara22\miniconda3\envs\titanicspace\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [240]:
df.isnull().any()

PassengerId     False
HomePlanet       True
CryoSleep        True
Cabin            True
Destination      True
Age              True
VIP              True
RoomService      True
FoodCourt        True
ShoppingMall     True
Spa              True
VRDeck           True
Name             True
Transported     False
dtype: bool

In [241]:
missing = df.isnull().sum()
missing[missing>0]*100/len(df)

HomePlanet      2.312205
CryoSleep       2.496261
Cabin           2.289198
Destination     2.093639
Age             2.059128
VIP             2.335212
RoomService     2.082135
FoodCourt       2.105142
ShoppingMall    2.392730
Spa             2.105142
VRDeck          2.162660
Name            2.300702
dtype: float64

In [242]:
df.shape

(8693, 14)

In [243]:
df=df.dropna()

In [244]:
df=df.drop_duplicates(keep='first', ignore_index=False)

In [245]:
df.shape

(6606, 14)

In [246]:
df.drop(['PassengerId','Name'],axis=1,inplace=True)

In [247]:
enc = OrdinalEncoder()
enc.fit(df[['HomePlanet','CryoSleep','Cabin','Destination','VIP']])
df[['HomePlanet','CryoSleep','Cabin','Destination','VIP']] = enc.transform(df[['HomePlanet','CryoSleep','Cabin','Destination','VIP']])

In [248]:
categorical_cols=df[['HomePlanet','CryoSleep','Cabin','Destination','VIP']]
numerical_cols=df[['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']]
target=df[['Transported']]

In [249]:
X= pd.concat([categorical_cols, numerical_cols], axis=1)
y=target

In [250]:
X.head()

,HomePlanet,CryoSleep,Cabin,Destination,VIP,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1.0,0.0,137.0,2.0,0.0,39.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1823.0,2.0,0.0,24.0,109.0,9.0,25.0,549.0,44.0
2,1.0,0.0,1.0,2.0,1.0,58.0,43.0,3576.0,0.0,6715.0,49.0
3,1.0,0.0,1.0,2.0,0.0,33.0,0.0,1283.0,371.0,3329.0,193.0
4,0.0,0.0,1825.0,2.0,0.0,16.0,303.0,70.0,151.0,565.0,2.0

In [251]:

# Split dataset into training set and test set
#random_state generador de numero aleatorios (semilla usada por el generador)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [252]:
X_train.isnull().any()

HomePlanet      False
CryoSleep       False
Cabin           False
Destination     False
VIP             False
Age             False
RoomService     False
FoodCourt       False
ShoppingMall    False
Spa             False
VRDeck          False
dtype: bool

In [253]:
clf = DecisionTreeClassifier(criterion='entropy')
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [271]:
#Predict the response for test dataset
print ("Se hacen las predicciones")
y_pred = clf.predict(X_test)
y_pred

Se hacen las predicciones

array([False, False, False, ..., False, False,  True])

In [273]:
# matriz de confusion
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[ 977    0]
 [   0 1005]]

In [275]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       1.00      1.00      1.00       977
        True       1.00      1.00      1.00      1005

    accuracy                           1.00      1982
   macro avg       1.00      1.00      1.00      1982
weighted avg       1.00      1.00      1.00      1982

In [276]:
# se efectúa validación cruzada
from sklearn import model_selection
kFold = model_selection.KFold(n_splits=5)
scoring = 'accuracy'
puntaje= (model_selection.cross_val_score(clf, X, y,  scoring = scoring, cv = kFold))
print (f"( {puntaje.mean()}, {puntaje.std()}")

( 0.7334243415740838, 0.00943003273732517

In [281]:
# se obtiene la importancia de cada atributo a partir del arbol
print("for para calcular la importancia de cada atributo")

# se crea un diccionario
diccionario = {}
# tree.feature_importances_ se obtiene la importancia de cada atributo
#zip  devuelve un iterador de tuplas basado en los objetos iterables
for name, importance in zip(X, clf.feature_importances_):
    diccionario[name] = importance

import operator
sortedDict = sorted(diccionario.items(), key=operator.itemgetter(1),reverse=True)

sortedDict

for para calcular la importancia de cada atributo

[('Cabin', 0.2326635352641016),
 ('CryoSleep', 0.21425193237736934),
 ('Age', 0.144127542786389),
 ('FoodCourt', 0.08457144827058818),
 ('ShoppingMall', 0.0777305934436778),
 ('Spa', 0.07033609590903787),
 ('VRDeck', 0.06835320451023098),
 ('RoomService', 0.0478572899502619),
 ('HomePlanet', 0.03697795065953665),
 ('Destination', 0.0214356306151738),
 ('VIP', 0.0016947762136327233)]